html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 0px;
  height: 2px;
}

::-webkit-scrollbar-button {
  width: 0%;
  height: 0%;
  background-color: #3498db;
}

::-webkit-scrollbar-track {
  background-color: #2ecc71;
}

::-webkit-scrollbar-track-piece {
  background-color: #3498db;
}

::-webkit-scrollbar-thumb {
  height: 50px;
  background-color: #2ecc71;
  border-radius: 3px;
}

::-webkit-scrollbar-corner {
  background-color: #2ecc71;
}

::-webkit-resizer {
  background-color: #2ecc71;
}

body {
  font-family: Product Sans;
  margin: 0;
  scroll-snap-type: x mandatory;
  overflow-x: scroll;
  display: grid;
  grid-template-columns: repeat(8, 100%);
}

section>* {
  position: relative;
  z-index: 2;
}

#home {
  background-image: url(../images/home.jpg);
}

#search {
  background-image: url(../images/search.jpg);
}

#search_members {
  background-image: url(../images/search_members.jpg);
}

#search_books {
  background-image: url(../images/search_books.jpg);
}

#add {
  background-image: url(../images/add.jpg);
}

#add_members {
  background-image: url(../images/add_members.jpg);
}

#add_books {
  background-image: url(../images/add_books.jpg);
}

#about {
  background-image: url(../images/about.jpg);
}

section {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  scroll-snap-align: start;
}

section:after {
  content: ' ';
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, .6);
  z-index: 1;
}

ul {
  position: fixed;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
  width: 100%;
  z-index: 5;
}

a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.padding {
  padding: 0px;
  padding-bottom: 120px;
}

.normal {
  float: right;
}

.normal:hover {
  background: #3498db;
}

.title {
  float: left;
}

.title:hover {
  background: #2ecc71;
}

.box {
  width: 450px;
  padding: 40px;
  position: absolute;
  margin-top: 25%;
  margin-left: 50%;
  transform: translate(-50%, -50%);
  background: black;
  text-align: center;
  border: 0;
  border-radius: 24px;
}

.boxv {
  width: 300px;
}

.box h1 {
  color: white;
  text-transform: uppercase;
  font-weight: 500;
}

.box h2, h4 {
  color: #3498db;
}
.box span{
  color: #2ecc71;
}
.box h3 {
  color: #2ecc71;
}

.box input[type="text"], .box input[type="password"], .box input[type="email"], .box input[type="number"] , .box input[type="tel"] {
  border: 0;
  background: none;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #3498db;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
}

.boxv input {
  display: block;
}

.box input [type="text"]:focus, .box input[type="password"]:focus, .box input[type="email"]:focus, .box input[type="number"]:focus, .box input[type="number"]:focus , .box input[type="text"]:hover, .box input[type="password"]:hover, .box input[type="email"]:hover, .box input[type="number"]:hover , .box input[type="tel"]:hover {
  width: 280px;
  border-color: #2ecc71;
}

input[type=number] {
  -moz-appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  cursor: pointer;
  display: block;
  width: 8px;
  text-align: center;
  position: relative;
}

input[type=number]:hover::-webkit-inner-spin-button, input[type=number]:focus::-webkit-inner-spin-button {
  background: url(../images/arrow.png) no-repeat 50% 50%;
  width: 14px;
  height: 14px;
  padding: 4px;
  position: relative;
  right: 4px;
  border-radius: 28px;
}

.box input[type="submit"] {
  border: 0;
  background: none;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #2ecc71;
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}

.boxv input[type="submit"] {
  display: block;
}

.index_a {
  text-decoration: none;
  border: 0;
  background: #3498db;
  display: block;
  margin: 20px auto;
  text-align: center;
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}

.index_a:hover {
  background: #2ecc71;
}

.box input[type="submit"]:hover {
  background: #2ecc71;
}

.box_a {
  text-decoration: none;
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  padding: 14px 40px;
  outline: none;
  color: white;
  cursor: pointer;
}

.rightarrow {
  cursor: pointer;
  height: 120px;
  right: 5%;
  position: absolute;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  transition: transform 0.1s;
  width: 80px;
}

.rightarrow-top, .rightarrow-bottom {
  background-color: #3498db;
  height: 4px;
  left: -5px;
  position: absolute;
  top: 50%;
  width: 100%;
}

.rightarrow-top:after, .rightarrow-bottom:after {
  background-color: #2ecc71;
  content: '';
  height: 100%;
  position: absolute;
  top: 0;
  transition: all 0.15s;
}

.rightarrow-top {
  transform: rotate(45deg);
  transform-origin: bottom right;
}

.rightarrow-top:after {
  left: 100%;
  right: 0;
  transition-delay: 0s;
}

.rightarrow-bottom {
  transform: rotate(-45deg);
  transform-origin: top right;
}

.rightarrow-bottom:after {
  left: 0;
  right: 100%;
  transition-delay: 0.15s;
}

.rightarrow:hover .rightarrow-top:after {
  left: 0;
  transition-delay: 0.15s;
}

.rightarrow:hover .rightarrow-bottom:after {
  right: 0;
  transition-delay: 0s;
}

.rightarrow:active {
  transform: translateX(-50%) translateY(-50%) scale(0.9);
}

.leftarrow {
  cursor: pointer;
  height: 120px;
  position: absolute;
  left: 8%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  transition: transform 0.1s;
  width: 80px;
}

.leftarrow-top, .leftarrow-bottom {
  background-color: #3498db;
  height: 4px;
  right: -5px;
  position: absolute;
  top: 50%;
  width: 100%;
}

.leftarrow-top:after, .leftarrow-bottom:after {
  background-color: #2ecc71;
  content: '';
  height: 100%;
  position: absolute;
  top: 0;
  transition: all 0.15s;
}

.leftarrow-top {
  transform: rotate(-45deg);
  transform-origin: bottom left;
}

.leftarrow-top:after {
  left: 100%;
  right: 0;
  transition-delay: 0s;
}

.leftarrow-bottom {
  transform: rotate(45deg);
  transform-origin: top left;
}

.leftarrow-bottom:after {
  left: 0;
  right: 100%;
  transition-delay: 0.15s;
}

.leftarrow:hover .leftarrow-top:after {
  left: 0;
  transition-delay: 0.15s;
}

.leftarrow:hover .leftarrow-bottom:after {
  right: 0;
  transition-delay: 0s;
}

.leftarrow:active {
  transform: translateX(-50%) translateY(-50%) scale(0.9);
}